<!DOCTYPE html>
{% extends 'hospital/navbar.html' %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Patient Sign Up</title>

</head>


<body>
  <br>
  <br>
  <br>
  <br>




  <!--- signup page for patient by admin(sumit)  ---------->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Register to Hospital</p>
        </div>

        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.first_name  placeholder="First Name" %}
              </div>
              <div class="form-group">
                {% render_field userForm.username  placeholder="Username" %}
              </div>
              <div class="form-group">
                {% render_field patientForm.address  placeholder="Address" %}
              </div>
              <div class="form-group">
                {% render_field patientForm.symptoms  placeholder="Symptoms" %}
              </div>
              <div class="form-group">
                {% render_field patientForm.profile_pic required="required"  placeholder="Profile Picture" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.last_name  placeholder="Last Name" %}
              </div>
              <div class="form-group">
                {% render_field userForm.password  placeholder="Password" %}
              </div>
              <div class="form-group">
                {% render_field patientForm.mobile placeholder="Mobile Number" %}
              </div>
              <div class="form-group">
                {% render_field patientForm.assignedDoctorId  placeholder="Doctor" %}
              </div>

            </div>
          </div>
          <button type="submit">Register</button>
          <div class="text-center">Already have an account? <a href="patient_login">Login here</a></div>
        </div>
      </div>
    </div>

  </form>
</body>
</html>